.about {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.aboutCotent {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
    border-radius: 0.5rem /* 8px */;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.aboutSideBar {
    position: fixed;
    right: 0.75rem /* 12px */;
    top: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 30;
}

.aboutSideBarDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutSideBarDivIcon {
    margin-top: 1rem /* 16px */;
    margin-bottom: 1rem /* 16px */;
    cursor: pointer;
}

.aboutSideBarDivIcon:hover {
    --tw-text-opacity: 1;
    color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.aboutCover {
    margin: 0 1rem 5rem 1rem;
    min-height: 100vh;
}

.aboutCoverContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 2.75rem /* 44px */;
}

.aboutCoverContainer h1 {
    font-family: Spartan, sans-serif;
    text-align: center;
    font-size: 3rem /* 48px */;
    line-height: 1;
    margin: 15rem 0 1rem 0;
}

.aboutCoverContainer h2 {
    font-family: Spartan, sans-serif;
    text-align: center;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    margin: 0 0 1rem 0;
}

.aboutCoverIntro {
    font-family: "Anaheim", sans-serif;
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    text-align: center;
    margin: 0 2.25rem 3rem 2.25rem;
}

.aboutCoverIntro span {
    padding: 0.125rem /* 2px */;
    --tw-bg-opacity: 1;
    background-color: rgba(254, 202, 202, var(--tw-bg-opacity));
}

.aboutCoverBtn {
    font-family: "Anaheim", sans-serif;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 1rem /* 16px */;
    justify-items: center;
    align-items: center;
    gap: 4rem /* 64px */;
}

.aboutCoverBtn button {
    border-radius: 0.125rem /* 2px */;
    border-radius: 0.125rem /* 2px */;
    --tw-border-opacity: 1;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    border-width: 2px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.aboutCoverBtn button:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    transform: var(--tw-transform);
}

.skillSet {
    padding-top: 5rem /* 80px */;
    margin-top: 10rem /* 160px */;
    min-height: 100vh;
}

.skillSetDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem /* 48px */;
    height: 100%;
}

.skillGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: start;
    align-items: flex-start;
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
}

.skill {
    font-family: Spartan, sans-serif;
    --tw-border-opacity: 1;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
}
.skill span {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 1.5rem /* 24px */;
}

.langNhobbies {
    padding: 5rem 0 5rem 0;
    margin: 5rem 1rem 5rem 1rem;
    min-height: 100vh;
}

.langNhobbiesContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: center;
    margin-bottom: 3rem /* 48px */;
}

.langNhobbiesLeftContainer {
    border-right-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    margin: 8rem 0 8rem 0;
}

.langNhobbiesRightontainer {
    border-left-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    margin: 8rem 0 8rem 0;
}

.langNhobbiesContainer div h3 {
    font-family: Spartan, sans-serif;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    margin-bottom: 5rem /* 80px */;
}

.langNhobbiesContainer div p {
    font-family: Spartan, sans-serif;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    margin-bottom: 5rem /* 80px */;
}

.langNhobbiesContainer div p span {
    --tw-text-opacity: 1;
    color: rgba(96, 165, 250, var(--tw-text-opacity));
}

.langNhobbiesContainer div p span:hover {
    --tw-text-opacity: 1;
    color: rgba(29, 78, 216, var(--tw-text-opacity));
}

.softSkills {
    padding: 5rem 0 5rem 0;
    margin: 5rem 1rem 5rem 1rem;
    min-height: 100vh;
}

.softSkills div {
    text-align: center;
    margin-bottom: 3rem /* 48px */;
    --tw-border-opacity: 1;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
}

.softSkillsPos {
    font-family: Spartan, sans-serif;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    margin-bottom: 5rem /* 80px */;
}

.softSkills div h2 {
    font-family: "Anaheim", sans-serif;
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    margin-bottom: 5rem /* 80px */;
}

.softSkillsDescription {
    font-family: "Anaheim", sans-serif;
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    text-align: center;
    margin: 0 2.25rem 3rem 2.25rem;
}

.softSkillsDescription span {
    padding: 0.125rem /* 2px */;
    --tw-bg-opacity: 1;
    background-color: rgba(254, 202, 202, var(--tw-bg-opacity));
}

.aboutHeading {
    font-family: Spartan, sans-serif;
    font-size: 3rem /* 48px */;
    line-height: 1;
    margin-top: 5rem /* 80px */;
    margin-bottom: 5rem /* 80px */;
}

.aboutContact {
    padding: 5rem 0 5rem 0;
    margin: 5rem 1rem 5rem 1rem;
    min-height: 100vh;
}

.aboutContactContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: Spartan, sans-serif;
}

.aboutContactContainer h3 {
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    margin: 0 0 5rem 0;
    text-align: center;
}

.aboutContactContainer p {
    font-family: "Anaheim", sans-serif;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    margin-bottom: 5rem /* 80px */;
    text-align: center;
}

.aboutContactContainer button {
    font-family: "Anaheim", sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    margin-bottom: 5rem /* 80px */;
    --tw-text-opacity: 1;
    color: rgba(96, 165, 250, var(--tw-text-opacity));
}

.aboutContactContainer button:hover {
    --tw-text-opacity: 1;
    color: rgba(30, 64, 175, var(--tw-text-opacity));
}

.aboutContactContainer button FaAngleDoubleLeft {
    margin-left: 0.75rem /* 12px */;
}

.aboutContactContainer button FaAngleDoubleRight {
    margin-right: 0.75rem /* 12px */;
}

.aboutContactLink {
    display: flex;
    gap: 4rem /* 64px */;
    margin-bottom: 2rem /* 32px */;
}

.aboutContactLink a {
    cursor: pointer;
}

.aboutContactLink a:hover {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}

@media (min-width: 640px) {
    .aboutSideBar {
        right: 7.69%;
    }
    .aboutCoverContainer h1 {
        font-size: 3.75rem /* 60px */;
        line-height: 1;
    }
    .aboutCoverContainer h2 {
        font-size: 2.25rem /* 36px */;
        line-height: 2.5rem /* 40px */;
    }
}

@media (min-width: 768px) {
    .aboutSideBar {
        right: 14.285%;
    }
}

@media (min-width: 1024px) {
    .aboutSideBar {
        right: auto;
        width: 8.333333%;
    }
    .aboutCover {
        margin-left: 5rem /* 80px */;
        margin-right: 5rem /* 80px */;
    }
    .aboutCoverContainer h1 {
        margin-top: 20rem /* 320px */;
    }
    .skillSet {
        margin-left: 5rem /* 80px */;
        margin-right: 5rem /* 80px */;
    }
    .langNhobbies {
        margin-left: 3.5rem /* 56px */;
        margin-right: 3.5rem /* 56px */;
    }
    .langNhobbiesContainer {
        margin: 7rem /* 112px */;
    }
    .langNhobbiesContainer div h3 {
        font-size: 3rem /* 48px */;
        line-height: 1;
    }
    .softSkills {
        margin-left: 3.5rem /* 56px */;
        margin-right: 3.5rem /* 56px */;
    }
    .softSkillsContainer {
        margin: 7rem /* 112px */;
    }
    .softSkillsPos {
        font-size: 1.875rem /* 30px */;
        line-height: 2.25rem /* 36px */;
    }
    .aboutHeading {
        margin: 7rem /* 112px */;
    }
    .aboutContact {
        margin-left: 3.5rem /* 56px */;
        margin-right: 3.5rem /* 56px */;
    }
    .aboutContactContainer h3 {
        font-size: 3rem /* 48px */;
        line-height: 1;
    }
}

@media (min-width: 1280px) {
    .aboutCoverIntro {
        margin-left: 10rem /* 160px */;
        margin-right: 10rem /* 160px */;
    }
    .softSkillsDescription {
        margin-left: 10rem /* 160px */;
        margin-right: 10rem /* 160px */;
    }
}

@media (min-width: 1536px) {
    .aboutCotent {
        width: 83.333333%;
    }
}

@media (min-width: 2200px) {
    .aboutCotent {
        width: 58.333333%;
    }
}
