.aboutProjectGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.aboutProjectName {
    font-family: Spartan, sans-serif;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
}

.aboutProjectDescription {
    font-family: "Anaheim", sans-serif;
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
}

.aboutProjectTechsGrid {
    display: grid;
    font-family: "Anaheim", sans-serif;
    gap: 0.25rem /* 4px */;
}

.aboutProjectTechsGrid h1 {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    --tw-text-opacity: 1;
    color: rgba(30, 64, 175, var(--tw-text-opacity));
    font-weight: 700;
}

.aboutProjectFunction {
    font-family: "Anaheim", sans-serif;
    gap: 0.25rem /* 4px */;
}

.aboutProjectFunction h1 {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    --tw-text-opacity: 1;
    color: rgba(153, 27, 27, var(--tw-text-opacity));
    font-weight: 700;
}

.aboutProjectImg {
    position: relative;
    order: 3;
    margin: 1rem 2.5rem 1rem 0;
    width: auto;
    height: 500px;
    border-radius: 0.75rem /* 12px */;
    border-width: 8px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}

.aboutProjectLinkIcon {
    cursor: pointer;
}

.aboutProjectLinkIcon:hover {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.aboutProjectLinkDescription {
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: "Anaheim", sans-serif;
    margin: 1rem /* 16px */;
}

.aboutProjectIcon {
    cursor: pointer;
}

.aboutProjectIcon:hover {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.aboutProjectLinkArrowRight {
    margin-left: 0.5rem /* 8px */;
    cursor: pointer;
    --tw-text-opacity: 1;
    color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.aboutProjectLinkArrowLeft {
    margin-right: 0.5rem /* 8px */;
    cursor: pointer;
    --tw-text-opacity: 1;
    color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.frameworkNlibrary {
    display: flex;
    justify-items: center;
    align-items: center;
}

.star {
    --tw-text-opacity: 1;
    color: rgba(245, 158, 11, var(--tw-text-opacity));
    margin-right: 0.5rem /* 8px */;
}

.sitefunction {
    display: flex;
    justify-items: center;
    align-items: center;
}

.check {
    --tw-text-opacity: 1;
    color: rgba(16, 185, 129, var(--tw-text-opacity));
    margin-right: 0.5rem /* 8px */;
}

.prompt {
    font-family: "Anaheim", sans-serif;
    margin: 1rem /* 16px */;
    display: flex;
    justify-items: center;
    align-items: center;
}

.coreProjects {
    padding: 5rem 0 5rem 0;
    margin: 5rem 1rem 5rem 1rem;
    min-height: 100vh;
}

.coreProjectsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem /* 48px */;
    height: 100%;
}

.coreProjectsDiv h3 {
    font-family: Spartan, sans-serif;
    font-size: 3rem /* 48px */;
    line-height: 1;
    margin: 2.75rem /* 44px */;
}

.coreProjectsGrid {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 24rem /* 384px */;
}

@media (min-width: 768px) {
    .aboutProjectName {
        font-size: 2.25rem /* 36px */;
        line-height: 2.5rem /* 40px */;
    }
    .aboutProjectTechsGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .aboutProjectTechsGrid h1 {
        grid-column: span 2 / span 2;
    }
}

@media (min-width: 1024px) {
    .aboutProjectGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .aboutProjectGridDiv {
        margin-right: 5rem /* 80px */;
    }
    .aboutProjectImg {
        order: 1;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .coreProjects {
        margin-left: 3.5rem /* 56px */;
        margin-right: 3.5rem /* 56px */;
    }
    .coreProjectsDiv h3 {
        margin: 7rem /* 112px */;
    }
    .coreProjectsGrid {
        width: 75%;
    }
}
