.contactWindow {
    align-items: center;
    padding: 16rem 1.25rem 16rem 1.25rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.contact {
    padding: 1.5rem /* 24px */;
    margin-top: 1rem /* 16px */;
    margin-bottom: 1rem /* 16px */;
    border-radius: 0.75rem /* 12px */;
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
    --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.contactHeading {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 700;
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
    align-self: center;
    padding-top: 0.75rem /* 12px */;
    padding-bottom: 0.75rem /* 12px */;
    margin-bottom: 1rem /* 16px */;
}

.contactGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.contactGrid label {
    font-family: "Julius Sans One", sans-serif;
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
}

.contactGrid input {
    padding-right: 5rem /* 80px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
}

.contactGrid textarea {
    padding-right: 5rem /* 80px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
}

.contactActionBtn {
    font-family: "Julius Sans One", sans-serif;
}

.contactActionBtn button {
    float: right;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.5rem /* 8px */;
    --tw-bg-opacity: 1;
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}

.contactActionBtn button:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

@media (min-width: 768px) {
    .contactGrid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .contactGrid input {
        padding-right: 10rem /* 160px */;
        margin-top: 0.5rem /* 8px */;
        margin-bottom: 0.5rem /* 8px */;
        grid-column: span 2 / span 2;
    }
    .contactGrid textarea {
        padding-right: 10rem /* 160px */;
        margin-top: 0.5rem /* 8px */;
        margin-bottom: 0.5rem /* 8px */;
        grid-column: span 2 / span 2;
    }
}

@media (min-width: 1024px) {
    .contact {
        padding: 2rem /* 32px */;
    }
}
